.services {
    margin-top: 60px;
}
.services__wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
}
.services__item {
    width: 300px;
    min-height: 136px;
    border: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid black;
    text-align: left;
    /* align-items: start; */
    /* justify-content: start; */
}
/* A 84  */
.gray {
    background-color: gray;
    /* color: white; */
  }

.item__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px; 
    color: #000000;
    margin-bottom: 5px;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.item__text {
    font-size: 12px;
    line-height: 15px;
    color: #3F444A;
    max-width: 268px;
    height: auto;
    margin-bottom: 5px;
}
.white {
    color: white;
}

.checkbox {
    margin-right: 90%;
}

.checkbox:checked + .services__item {
    background-color: gray;
  }
